<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Group</h1>
  		<%= render 'layouts/errors', obj: @group %>
  		<%= form_with model:@group, local:true do |f| %>
  		  <div class="form-group">
  		    <%= f.label :name %>
  		    <%= f.text_field :name, class: 'form-control' %>
  		  </div>
  		  <div class="form-group">
  		    <%= f.label :introduction %>
  		    <%= f.text_area :introduction, class: 'form-control' %>
  		  </div>
  		  <div class="form-group">
  		    <p>グループ画像</p>
  		    <!--<= f.label :image %>-->
  		    <%= f.file_field :group_image, class: "from-control-file", accept: 'image/*' %>
  		  </div>
  		  <div class="form-group">
  		    <%= f.submit 'グループ編集', class: "btn btn-primary" %>
  		  </div>
  		<%end%>
  	</div>
  </div>
</div>