<div class="container">
    <div class="row">
        <div class="col-xs-6 mx-auto">
          <h2>CHAT WITH <%=@user.name %></h2>
          <%= render "index", chats: @chats %>

            <%= form_with model: @chat do |f| %>
              <%= f.text_field :message %>
              <%= f.hidden_field :room_id %>
              <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
            <% end %>
        </div>
    </div>
</div>